* {
  font-family: "Barlow", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
}

/* ------------------------------------------------------------------- */
/* NAV BAR */
/* ------------------------------------------------------------------- */
.navbar {
  background-color: #3dbeff;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: white;
  /* due to bootstraps default styling, this was added to stop the logo from changing color when hovered over */
}

.navbar .nav-item {
  margin-right: 1rem;
  /* adding more space between the nav links, as the default space added by bootstrap wasn't enough. */

  font-weight: 600;
}

.nav-link {
  color: white;
  /* all nav links have the color, white, as opposed to their initial color. */
}

.contact-btn {
  background-color: white;
  color: black;
  font-family: "Fraunces", serif;
  font-weight: 700;
}

.contact-btn:hover {
  color: white;
  background-color: #ffffff70;
}

/* ----------------------------------------------------------------- */
/* MOBILE VIEW STYLES */
/* ----------------------------------------------------------------- */

@media (max-width: 768px) {
  body {
    background-color: grey;
  }
  /* ----------------------------------------------------------------- */
  /* NAV BAR */
  /* ----------------------------------------------------------------- */
  .navbar-collapse {
    position: absolute; /* takes the container of the nav links outside of the nav bar just like in the ui design of the web page */
    width: 80%;
    left: 50%; /* moves the element's left edge to the center of the parent. */
    transform: translateX(
      -50%
    ); /* shifts the element itself left by 50% of its own width—so it ends up perfectly centered. */
    top: 100%; /* so that it sits right under the navigation bar when displayed */
    background-color: white;
    padding-bottom: 1rem;
  }

  .navbar li.nav-item { 
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    /* i used the kind of specificity on this element because without it the style wouldn't overwrite bootstrap's default style */
  }

  .nav-item {
    margin: 0.4rem 0px;
  }

  .nav-link.contact-btn {
    display: inline-block;
    /* to make the contact button not to take up the entire width of the parent as it was set that by bootstrap */

    background-color: yellow;
    padding: 0.7rem 2rem;
  }

  .nav-item .nav-link {
    color: black;
  }
}
